body>header {
    background: #eee;
}

body>header>a {
    display: inline-block;
    margin: 10px 0 0 10px;
}

ul.menu {
    vertical-align: top;
    margin: 5px 0 0 0;
    padding: 0;
    display: inline-block;
}

ul.menu li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

ul.menu li:hover {
    background: #ccc;
}

ul.menu li a {
    text-decoration: none;
}

body>footer {
    background: #eee;
    margin-top: 10px;
    padding: 5px;
}

ul.info-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #cfc;
}

ul.info-messages li {
    display: block;
}

ul.error-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #fcc;
}

ul.error-messages li {
    display: block;
}        

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
} 
.right{
    float:right;                 
}
.login_form{
    display: inline-block;
    padding-top: 7px;      
}
.login_form input{
    display: inline-block;
    width: 40%;
}
.username{
    color: white;          
}
.register_button{
    display: inline-block;
    padding: 4px 7px;
    background-color: #E3E2E1;
    color: black;          
}
.register_button:hover{
    text-decoration: none;
    color: black;
    background-color: #F0EFED;
}
.mt20{
    margin-top: 20px;
}
.clear{
    clear: both;
}
.views{               
    margin-left: 10px;
}



/*Answers*/
.question {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dedede;
    background: #FFF;
    -moz-box-shadow: 0 0 5px #dedede;
    -webkit-box-shadow: 0 0 5px #dedede;
    box-shadow: 0 0 5px #dedede;
    position: relative;
}
.tab-inner .question:first-child {
    margin-top: 0;
}
.question-inner {
    position: relative;
    margin-left: 101px;
}
.question-tab .tabs {
    margin-bottom: 30px;
}
.question-tab .tab a {
    color: #2f3239;
    font-size: 15px;
    font-weight: normal;
    background-color: transparent;
}
.question-tab .tab a:hover {
    color: #2f3239;
}
.question-tab .tab a.current:hover {
    color: #FFF;
}
.question-tab .tab-inner-warp {
    background: transparent;
    padding: 0;
}
.single-question {
    padding: 20px 0;
    margin-bottom: 10px;
}
.single-question .form-inputs p {
    margin-bottom: 20px;
}
.question-meta {
    padding: 0 20px 20px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    height: 100%;
}
.question-meta div,.question-meta span {
    margin-bottom: 0 !important;
}
.single-question .question-inner {
    margin-left: 0;
    padding: 0 20px;
}
.question-author {
    position: absolute;
    top: 20px;
    left: 20px;
    float: left;
    text-align: center;
    width: 71px;
    height: 71px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #dedede;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.question-author img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.question-author-img {
    position: relative;
    display: block;
}
.question-author-img span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    line-height: 65px;
    overflow: hidden;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.question-author-img:hover span:before {
    opacity: 0.7;
    filter: alpha(opacity=70);
    content: "\f0fe";
    font-family: "FontAwesome";
}
.question-author-name {
    margin-top: 10px;
    display: block;
}
.question-type {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 14px;
    margin-right: 10px;
}
.question-type-main {
    font-size: 11px;
    margin: 0;
    display: inline-block;
    padding: 4px 10px;
/*    position: absolute; */
/*    top: 20px;     */
/*    right: 86px; */
}
.question-type-main i {
    margin-right: 5px;
}
.single-question .question-type {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 21px;
    margin: 0;
}
.single-question.question h2 {
    margin-left: 20px;
}
.question-content {
    overflow: hidden;
    height: 100%;
    position: relative;
}
.question h2 {
    margin: 0 0 30px 101px;
    color: #474D5D;
    overflow: hidden;
    font-size: 22px;
    font-weight: bold;
/*    padding-right: 161px;    */
}
.question h2 a {
    color: #2f3239;
}
.post .boxedtitle i,.single-question-title i {
    padding: 15px;
    display: inline-block;
    line-height: 1;
    margin-right: 10px;
}
.question h3 a {
    color: #2f3239;
}
.question-vote {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 14px;
}
.question-user-vote {
    float: left;
    margin-right: 10px;
    font-size: 12px;
    color: #6D8297;
}
.user-question .question-user-vote,.user-question .question-vote-result,.user-question .question-reply,.user-question .question-comment,.user-question .question-category,.user-question .question-date,.user-question .question-view,.user-question .question-answered,.user-question .question-favorite {
    margin-bottom: 5px;
}
.user-question h3 {
    font-size: 20px;
    font-weight: bold;
    padding-right: 89px;
}
.user-question h3 a:hover {
    color: #2f3239 !important;
}
.user-question .question-type-main {
    top: 20px;
    bottom: inherit;
    right: 20px;
}
.single-question .question-vote {
    margin-left: 0;
}
.question-vote li {
    display: block;
    float: left;
}
.question-vote-up,.comment-vote-up,.question-vote-down,.comment-vote-down {
    font-size: 23px;
    color: #2f3239 !important;
    display: block;
    float: left;
    height: 12px;
    line-height: 12px;
    margin-bottom: 2px;
}
.question-vote-down,.comment-vote-down {
    margin-bottom: 0;
}
.question-vote-up:before,.comment-vote-up:before,.question-vote-down:before,.comment-vote-down:before {
    font-family: "FontAwesome";
    content: "\f0d8";
    float: left;
    height: 12px;
}
.question-vote-down:before,.comment-vote-down:before {
    content: "\f0d7";
}
.question-vote-up i,.comment-vote-up i,.question-vote-down i,.comment-vote-down i,.question-vote-up i:before,.comment-vote-up i:before,.question-vote-down i:before,.comment-vote-down i:before {
    float: right;
    height: 13px;
    display: block;
    position: relative;
    z-index: 2;
}
.question-vote-down i,.comment-vote-down i,.question-vote-down i:before,.comment-vote-down i:before {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    z-index: 1;
}
.question-vote-result,.single-question-vote-result {
    float: left;
    font-size: 13px;
    color: #2f3239;
}
.single-question-vote-result {
    float: right;
}
.single-question-vote > li:first-child a {
    margin-right: 10px;
}
.single-question-vote-up,.single-question-vote-down {
    background-color: #eee;
    color: #666;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    float: right;
    font-size: 13px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}
.single-question-vote-up:hover {
    background-color: #338338;
}
.single-question-vote-down:hover {
    background-color: #990707;
}
.question-details {
    float: left;
}
.single-question .question-details {
    margin-right: 0;
}
.question-reply {
    margin: 0 10px 0 0;
}
.question-reply,.question-date,.question-view,.question-comment,.question-category,.question-tags,.post-tags,.question-favorite,.question-answered {
    margin: 0 20px 0 0;
    float: left;
    display: block;
}
.question-view {
    margin-right: 0;
}
.question-date i,.question-view i,.question-comment i,.question-category i,.question-tags i,.post-tags i,.question-reply i,.question-answered i,.question-favorite i,.share-inside i {
    margin-right: 5px;
}
.share-tags {
    position: relative;
    margin-bottom: 30px;
    overflow: initial;
}
.question-tags,.post-tags {
    margin-bottom: 0;
}
.question-tags,.post-tags {
    text-transform: capitalize;
    font-size: 12px;
    display: inline-block;
    float: left;
}
.share-inside {
    float: left;
    font-size: 12px;
    cursor: pointer;
}
.share-inside-warp {
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 14px;
    -moz-box-shadow: 1px 1px 3px #eee;
    -webkit-box-shadow: 1px 1px 3px #eee;
    box-shadow: 1px 1px 3px #eee;
    width: 150px;
    display: none;
}
.single-post .share-inside {
    margin-right: 0;
}
.single-post .share-inside-warp {
    left: 20px;
}
.share-inside-show {
    display: block;
}
.share-inside-l-arrow:before {
    font-family: "FontAwesome";
    content: "\f0d7";
    position: absolute;
    bottom: -17px;
    left: 21px;
    font-size: 20px;
    color: #FFF;
}
.share-inside-f-arrow:before {
    font-family: "FontAwesome";
    content: "\f0d7";
    position: absolute;
    bottom: -19px;
    left: 20px;
    font-size: 22px;
    color: #e5e5e5;
}
.single-post .share-inside-l-arrow:before {
    bottom: -16px;
}
.single-post .share-inside-f-arrow:before {
    bottom: -19px;
}
.share-inside-warp ul li {
    margin-bottom: 10px;
}
.share-inside-warp ul li:last-child {
    margin-bottom: 0;
}
.share-inside-warp ul li a {
    margin: 0 10px 0 0;
    color: #2f3239;
    font-size: 12px;
}
.question-report {
    float: right;
    font-size: 12px;
    background-color: #2f3239;
    padding: 4px 10px;
    margin-left: 10px;
/*    position: absolute; */
/*    top: 20px;             */
    right: 20px;
    height: 23px;
    line-height: 15px;
    color: white !important;
}
.question-answered {
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.question-desc {
    margin-bottom: 20px;
    padding-bottom: 30px;
    line-height: 22px;
    font-size: 13px;
    border-bottom: 1px solid #dedede;
    color: #848991;
}
.question-bottom-2 {
    margin-top: 15px;
}
.user-question .question-answered i,.user-question .question-favorite i {
    color: #5a5c5d;
}
.question .question-answered,.question .question-answered i {
    font-size: 13px;
}
.question .question-answered,.user-question .question-answered i {
    color: #ff2700;
}
.question-answered-done {
    color: #318e08;
}
.question .question-answered-done,.user-question .question-answered-done i {
    color: #318e08;
    font-size: 13px;
}
.question-remove {
    display: inline-block;
    margin-right: 10px;
}
.question-date,.question-view,.question-favorite,.question-reply,.question-category a,.question-comment a {
    font-size: 13px;
    color: #2f3239;
}
.question-favorite i.icon-star,.question-remove i.icon-star {
    color: #dfaa63;
}
.question-favorite {
    color: #dfaa63;
}
.question-tags,.post-tags {
    float: right;
    margin-right: 0;
}
.question-tags i,.question-tags a,.post-tags i,.post-tags a {
    font-size: 12px;
}
.question-tags a:hover,.post-tags a:hover {
    color: #2f3239;
}
.question-favorite,.question-category,.question-date,.question-comment,.question-view,.question-category a,.question-comment a {
    float: left;
}
.question-date i,.question-view i,.question-comment i,.question-category i,.question-reply i {
    color: #2f3239;
}
.load-questions {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 10px;
    display: block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center;
}
.load-questions i {
    margin-right: 10px;
}
.load-questions:hover {
    background-color: #2f3239;
}
.question-type-main{
    background-color: #ff7361;
    color: white;
}
.question-report{
    color: white;
    background-color: black;
}
.question-report:hover{    
    background-color: #ff7361;
    text-decoration: none;
    color: white;
}       